{% extends "./_base.html" %}

{% block css_top %}
  <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_URL }}/css/index.css" async/>
{% endblock css_top %}

{% block content %}
    <section class="home_content">
      {% for article in articles_page.object_list %}
        <article class="home_content__article {{'home_content__article--first' if loop.first }}">
          <div class="home_content__article-content">
            <header>
              <a href="{{ SITEURL }}/{{ article.url }}" class='home_content__article-title-link'>
              {% if loop.first %}
                {{ article.title }}
              {% else %}
                {{ article.title|truncate(70, true, '...', 0) }}
              {% endif %}
              </a>
            </header>
            {% if loop.first %}
              <div class='home_content__article-body-summary'>
                {{ article.summary }}
              </div>
            {% endif %}
            <footer class="home_content__article-category">
            {{ article.locale_date }} -
              <a href="{{ SITEURL }}/{{ article.category.url }}" class='home_content__article-header-category-link logo-{{article.category|lower}}'>{{ article.category|upper }}</a>
            {% for tag in article.tags %}
              {% if tag|lower != article.category|lower and article.category|lower != 'sem categoria' %}
               -
              <a href="{{ SITEURL }}/{{ tag.url }}" class='home_content__article-header-category-link logo-{{tag|lower}}'>{{ tag|upper }}</a>
              {%endif%}
            {% endfor %}
            </footer>
          </div>

          {% if article.cover_image_url != '2' %}
            <a href="{{ SITEURL }}/{{ article.url }}" class='home_content__article-image-link'>
              <img class='home_content__article-cover-image image-process-article_thumb'
              src='{{ article.cover_image_url }}'
              alt="{{ article.cover_image_alt or ''}}"
              height="{{ '144' if loop.index > 1 else '500' }}"
              width="{{ '144' if loop.index > 1 else '500' }}"
              />
            </a>
          {% endif %}
        </article>
      {% endfor %}
    </section>
{% endblock %}
