@import "./base";

.author_content {
  margin: 1rem 0.5rem;
  padding: 1rem 0;

  @include themed() {
    box-shadow: 2px 2px 4px 0 getColorByTheme("boxShadow");
    background-color: getColorByTheme("card");
  }

  &-body {
    max-width: 90vw;
    min-height: 85vh;
    padding: 0 2rem;
  }
}

.about-me--image {
  border-radius: 50%;
  display: block;
  margin: auto;
}

h2 {
  display: block;
  text-align: center;
  margin-top: 5px;
}

h3 {
  display: block;
  text-align: center;
  font-style: italic;
  font-size: 14px;
  margin-bottom: 1em;
}

h4 {
  font-weight: bold;
}

.about-me__section {
  &--block {
    padding-top: 10px;
  }

  &--title {
    font-weight: bold;
    display: block;
    clear: both;
    margin: 1em 0px;
  }
}

@media (min-width: 768px) {
  .about-me {
    &__list {
      &--item {
        float: left;
        margin-left: 2em;
        margin-bottom: 1em;

        &:last-child {
          clear: right;
        }
      }
    }
  }
}
