@import "./settings.scss";
@import "../vendor/concisecss/concise.scss";

body {
    background-color: getColor(background, body);
    color: getColor(text, primary);
}

.header_site {

    &--title {
        font-size: 1.25em;

        &-link{
            font-family: $font-primary;
            text-transform: uppercase;
            font-size: 1em;
            color: getColor(text, primary);
        }
        &-name {
            font-weight: 700;
            color: getColor(text, heading);
        }
    }
}

.home_content {
    flex-wrap: wrap;

    &--article {
        background-color: #ffffff;
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.05);
        margin-top: 2rem;

        &-header {
            margin-bottom: 2rem;

            &-title-link {
                width: 306px;
                height: 126px;
                font-family: $font-primary;
                font-size: 2.75rem;
                font-weight: bold;
                line-height: 0.95;
                letter-spacing: -1.5px;
                color: getColor(base, primary);
            }

            &-category {
              margin-bottom: 1rem;

                &-tooltip {
                  font-family: $font-primary;
                  font-size: 13px;
                  font-weight: bold;
                  letter-spacing: 1px;
                  color: getColor(text, secondary);

                  &::after {
                    content: "";
                    display: block;
                    width: 23px;
                    background-color: getColor(base, border);
                    height: 2px;
                    margin-top: 0.2rem;
                  }
                }
            }
        }
    }


}
