@import "./_settings.scss";
@import "../vendor/concisecss/concise.scss";

body {
  @include themed() {
    background-color: getColorByTheme("background");
    color: getColorByTheme("text");
  }
}

a:hover {
  opacity: 0.8;
  text-decoration: underline;
}

a,
a:hover,
a:visited,
a:active {
  @include themed() {
    color: getColorByTheme("link");
  }

  .home_content--article-header & {
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5 {
  @include themed() {
    color: getColorByTheme("heading");
  }
}

h2 a:hover {
  opacity: 0.5;
  @include themed() {
    color: getColorByTheme("link");
  }
}

pre {
  overflow: auto;
}

.header_site {
  overflow: visible;
  &--title {
    font-size: 1.25em;

    &-link {
      font-family: $font-primary;
      text-transform: uppercase;
      font-size: 1em;
      font-weight: 400;
      text-decoration: none !important;

      @at-root a#{&} {
        @include themed() {
          color: getColorByTheme("text");
        }
      }
    }

    &-name {
      font-weight: 700;
      @include themed() {
        color: getColorByTheme("heading");
      }
    }
  }
}

code {
  @include themed() {
    color: getColorByTheme("code");
    background: getColorByTheme("codeBg") !important;
  }
}

@media (max-width: 768px) {
  .header_site {
    font-size: 0.8rem;
  }
}

.site {
  &__theme-button {
    padding: 0.5em;
    height: 3em;
    width: 3em;
    position: absolute;
    top: 0;
    left: 85%;

    @include themed() {
      background-color: getColorByTheme("changeThemeButtonBg");
    }

    &:active,
    &:hover {
      @include themed() {
        background-color: getColorByTheme("changeThemeButtonBg");
      }
    }

    svg {
      @include themed() {
        fill: getColorByTheme("changeThemeButton");
      }
    }
  }
}
