$font-size: 16;
$letter-spacing: 0.05em;

$font-primary: "Montserrat", sans-serif;
$font-secondary: "Bitter", serif;
$font-mono: "Consolas", monospace;

// Colors

$themes: (
  dark: (
    background: #32373d,
    blockquoteBorder: rgba(255, 255, 255, 0.6),
    border: #adbdc7,
    boxShadow: rgba(255, 255, 255, 0.05),
    card: #171717,
    code: #ff7171,
    codeBg: #3e3e3e,
    dated: #858e94,
    heading: #e7f5ff,
    link: #79ddf5,
    tableHeaderBg: #68757e,
    tableHeaderBgInverted: #212121,
    tableHeaderColor: white,
    text: #dadada,
    // --
    related: #9700a1,
  ),
  light: (
    background: #f5f5f5,
    blockquoteBorder: rgba(0, 0, 0, 0.34),
    border: #adbdc7,
    boxShadow: rgba(0, 0, 0, 0.05),
    card: #fff,
    code: #b73333,
    codeBg: #e8e8e8,
    dated: #a8b3ba,
    heading: #384a56,
    link: #6f11fb,
    related: #9700a1,
    text: #68757e,
    tableHeaderBg: #68757e,
    tableHeaderBgInverted: #f5f5f5,
    tableHeaderColor: white,
  ),
);

@mixin themed() {
  // based on https://medium.com/@katiemctigue/how-to-create-a-dark-mode-in-sass-609f131a3995
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function getColorByTheme($key) {
  @return map-get($theme-map, $key);
}
