@import "./base";
@import "./pygment";

.article_content {
    background-color: #ffffff;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.05);
    margin: 1rem 0.5rem;
    padding: 1rem 0;

    &-body {
        // min-width: 90vw;
        min-height: 85vh;
        padding: 0 2rem;
    }

    &-content {
        p, h2, h3 {
            margin: 1em auto;
        }
        blockquote {
            padding: 0 2em;
            border-left: 7px ridge rgba(171, 171, 152, 0.34);
        }
    }

    &-series {
        border: 1px dashed;
        display: inline-block;
        padding: 1em;
        margin-top: 1.5em;

        &--title {
            font-style: italic;
        }

        &--name {
            font-weight: 700;
        }

        &--parts {
            margin-left: 1rem;

            li {
                line-height: 2;
            }
        }
    }

    &-related_post {
        margin-top: 1.5em;

        &--title {
            text-transform: uppercase;
            margin: 0.7em 0;
            color: getColor(text, related);
            display: inline-block;
            position: relative;

            &:after {
                content:"";
                position:absolute;
                bottom: -5px;
                left:0;
                display:inline-block;
                width:20%;
                border-bottom: getColor(base, border) solid 2px;
            }
        }

        ul {
            margin-left: 0.5em;

            li {
                list-style-type: square;
            }
        }
    }

    img {
        max-width: 100%;
        width: auto;
    }

}

.article_cover {
    text-align: center;
    margin-top: 2em;

    &__credit {
        font-style: italic;
        font-size: .7em;
    }
}

.footnote ol li p{
    display:inline;
}

.highlighttable td {
    line-height: 2em;
}
