@import "base";

.home_content {
    flex-wrap: wrap;

    &--article {
        background-color: #ffffff;
        box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.05);
        margin-top: 2rem;
        display: flex;
        flex-direction: column;

        &-header {
            margin: 1rem 0;

            &-title {
                height: 125px;

                &-link {
                    width: 306px;
                    height: 126px;
                    font-family: $font-primary;
                    // font-size: 2.1rem;
                    font-size: 1.1em;
                    font-weight: bold;
                    line-height: 0.95;
                    letter-spacing: -1.5px;
                    color: getColor(base, primary);
                }
            }

            &-category {
              margin-bottom: 1rem;

                &-tooltip {
                  font-family: $font-primary;
                  font-size: 13px;
                  font-weight: bold;
                  letter-spacing: 1px;
                  color: getColor(text, secondary);

                  &::after {
                    content: "";
                    display: block;
                    width: 23px;
                    background-color: getColor(base, border);
                    height: 2px;
                    margin-top: 0.2rem;
                  }
                }
            }
        }

        &-body {
            flex-grow: 2;
            font-family: $font-secondary;
            line-height: 1.63;
            height: 200px;
            overflow: hidden;
        }

        &-footer {
            margin: 2em 0 1em;
            color: getColor(text, dated);
            font-weight: 700;
            font-size: 0.8125em;
        }
    }


}
