<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}" class="theme--light">
<head>
  <meta charset="utf-8" />
  <title>{% block title %}{{ SITE_BAR_TITLE }}{% endblock %} </title>
  <link rel="icon" href="./favicon.png" />

  {% block meta %}
    <meta name="description" content="{{ SITEDESCRIPTION }}">
    <meta name="author" content="{{ AUTHOR }}">
    <meta name="robots" content="noimageindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#32373d">
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#f5f5f5">
  {% endblock %}

  {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITE_BAR_TITLE }} - Atom Feed" />
  {% endif %}

  {% block css_vendor_top%}
    <link href="./{{ THEME_STATIC_DIR }}/vendor/concisecss/dist/concise.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Bitter|Montserrat:400,700" rel="stylesheet" />
  {% endblock %}

  {% block css_top %}
  {% endblock css_top %}

  {% block js_top %}
    <script data-ad-client="ca-pub-2474646572295965" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <script type="text/javascript" id="js-theme">
      if(window.location.hash === '#dark' || window.localStorage.getItem('isDarkMode')) {
        const html = document.querySelector('html');
        if(html.classList.contains('theme--dark')){
          html.classList.remove('theme--dark');
          html.classList.add('theme--light');
        } else {
          html.classList.remove('theme--light');
          html.classList.add('theme--dark');
        }
      }
    </script>
  {% endblock %}
</head>
<body>
  <a class="site__skip-content" tabindex="1" href="#start-site">Pular para o conteúdo</a>
  <header class='header_site' id="start-page" container>
    <div class="header_site--wrapper">
      {# <p class="header_site--menu"><span class="menu-anchor">Menu</span></p> #}
      <div class="header_site--title">
        {% block header_site %}
          <a href="{{ SITEURL }}" class="header_site--title-link" aria-label="{{ SITENAME}}. {{ SITE_NAME_SUBTITLE}}. Ir para página inicial.">
            <span class="header_site--title-name">{{ SITENAME }}</span> {{ SITE_NAME_SUBTITLE }}
            </a>
        {% endblock header_site %}
      </div>

      <ul class="header_site-social">
        {% for name, link in SOCIAL %}
          <li class="header_site-social--item">
            <a class="header_site-social--item-link logo-{{ name }}" href="{{ link }}" target="_blank">
              <i class="header_site-social--item-text">{{ name }}</i>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
    <button class="site__theme-button" type="button" aria-label="Trocar tema" tabindex="2">
      <svg viewBox="0 0 24 24">
          <path  d="M12,2A7,7 0 0,0 5,9C5,11.38 6.19,13.47 8,14.74V17A1,1 0 0,0 9,18H15A1,1 0 0,0 16,17V14.74C17.81,13.47 19,11.38 19,9A7,7 0 0,0 12,2M9,21A1,1 0 0,0 10,22H14A1,1 0 0,0 15,21V20H9V21Z" />
      </svg>
    </button>
  </header>

  {#
  <menu class="site_menu">
    <form action=""><input type="text"></form>
    <ul class="site_menu--list">
        <li class='site_menu--list-item'>
          <a href="{{ SITEURL }}/">/home</a>
        </li>
        {% for page in pages|sort(attribute='title') %}
          <li class='site_menu--list-item'>
            <a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a>
          </li>
        {% endfor %}
      </ul>
  </menu>
   #}


<div class="wrapper_site" container>
  <div class="wrapper_site--content column_wrapper" id="start-site">
    {% block content %}
    {% endblock content %}
  </div>
</div>

{% extends './_footer.html' %}

</body>
</html>
