{% block footer %}
 <button class="site__back-to-top-button" aria-labelledby="button-back-to-top">
     <svg viewBox="0 0 24 24">
      <path d="M19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21M12,7L7,12H10V16H14V12H17L12,7Z" />
   </svg>
   <span id="button-back-to-top" class="site__back-to-top-button--text">Voltar para o topo</span>
 </button>
{% endblock footer %}


{% block css_bottom %}
  <link href="https://fonts.googleapis.com/css?family=Bitter|Montserrat:400,700" rel="stylesheet" async />
{% endblock css_bottom %}

{% block js_bottom %}

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77202031-1', 'auto');
  ga('send', 'pageview');

</script>

<script id="js-theme-button">
  function toggleTheme(){
    const html = document.querySelector('html');
    const isDarkMode = html.classList.contains('theme--dark') || window.localStorage.getItem('isDarkMode') === 'true'
    if(isDarkMode){
      window.localStorage.setItem('isDarkMode', "false");
      html.classList.remove('theme--dark');
      html.classList.add('theme--light');
    } else {
      window.localStorage.setItem('isDarkMode', "true");
      html.classList.remove('theme--light');
      html.classList.add('theme--dark');
    }
  }
  function updateThemeButton() {
    const isDarkMode = window.localStorage.getItem('isDarkMode') === 'true'
    themeButton.ariaLabel = `Trocar para o tema ${isDarkMode ? 'claro': 'escuro'}`
  }

  const themeButton = document.querySelector('.site__theme-button');
  themeButton.classList.add('site__theme-button--has-js')
  themeButton.addEventListener('click', () => {
    toggleTheme()
    updateThemeButton()
  })
</script>

<script id="js-scroll-top">
  const scrollTopButton = document.querySelector('.site__back-to-top-button')
  scrollTopButton.addEventListener('click', () => {
    window.scrollTo({ top: 0, behavior: 'smooth' });
  })
  document.addEventListener('scroll', () => {
    if(window.scrollY > 100) {
      scrollTopButton.classList.add('site__back-to-top-button--show')
    } else {
      if(scrollTopButton.classList.contains('site__back-to-top-button--show')){
        scrollTopButton.classList.remove('site__back-to-top-button--show')
      }
    }
  })
</script>

{% endblock %}




