{# {% block footer %}
    <footer class='footer_site' container>

        <p>Feito com :fa-heart: e pelican. Initial design Henrique Brito.</p>

    </footer>
{% endblock footer %} #}


{% block css_bottom %}
{% endblock css_bottom %}

{% block js_bottom %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>


  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77202031-1', 'auto');
  ga('send', 'pageview');

</script>

<script id="js-theme-button">
  function toggleTheme(){
    const isDarkMode = window.localStorage.getItem('isDarkMode')
    const html = document.querySelector('html');
    if(isDarkMode){
      window.localStorage.removeItem('isDarkMode');
      window.location.hash = '#light'
      html.classList.remove('theme--dark');
      html.classList.add('theme--light');
    } else {
      window.localStorage.setItem('isDarkMode', true);
      window.location.hash = '#dark'
      html.classList.remove('theme--light');
      html.classList.add('theme--dark');
    }
  }
  function updateThemeButton() {
    const isDarkMode = window.localStorage.getItem('isDarkMode')
    themeButton.ariaLabel = `Trocar para o tema ${isDarkMode ? 'claro': 'escuro'}`
  }

  const themeButton = document.querySelector('.site__theme-button');
  themeButton.addEventListener('click', () => {
    toggleTheme()
    updateThemeButton()
  })
</script>
{% endblock %}




