{% extends '_base.html' %}
{% from './includes/_disqus.html' import disqus_misc_scripts as disqus_comments_script, disqus_comments_script with context %}

{% block title %}
{{ article.title|striptags|e }} - {{ super() }}

{% endblock title %}

{% block css_top %}
  <link rel="stylesheet" type="text/css" href="{{ SITEURL}}{{ THEME_STATIC_URL }}/css/article.css"/>
{% endblock css_top %}

{% block content %}
    <section class="article_content" container>
        <article class="article_content-body">
            <h1 class="article_content-title">{{ article.title }} {%if article.subtitle %} <small> {{ article.subtitle }} </small> {% endif %} {% if article.readtime_string %}</h1><small> Tempo médio de leitura: {{article.readtime_string}}.</small>{% endif %}

            <div class="article_content-content">
                {% if article.cover_image_url != '2' %}
                    <figure class='article_cover'>
                        <img class='article_cover__img image-process-article_cover' src="{{ article.cover_image_url }}"
                            alt="{{ article.cover_image_alt or ''}}">

                        {% if article.cover_image_by %}
                        <figcaption class='article_cover__credit'>Créditos:
                                {% if article.cover_image_link %}
                                    <a href="{{ article.cover_image_link }}">{{ article.cover_image_by }}</a>
                                {% else %}
                                    {{ article.cover_image_by }}
                                {% endif %}
                            </figcaption>
                        {% endif %}
                    </figure>
                {% endif %}
                {{ article.content }}
            </div>

            {% if article.series and article.series.all|length > 1 %}
                <div class="article_content-series">
                        <p class='article_content-series--title'>Este post é a parte <b>{{ article.series.index }}</b> da serie "<span class="article_content-series--name">{{ article.series.name }}</span>"</p>
                        <ul class="article_content-series--parts">
                            {% for part_article in article.series.all %}
                            <li>

                                <span>PARTE {{ part_article.series.index }}: </span>
                                {% if part_article == article %}
                                    <b>{{ part_article.title }}</b>
                                {% else %}
                                    <a href='{{ SITEURL }}/{{ part_article.url }}'>{{ part_article.title }}</a>
                                </li>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ol>
                </div>
            {% endif %}

            {% if article.related_posts %}
                <div class="article_content-related_post">
                    <h4 class="article_content-related_post--title">Veja também:</h4>
                        <ul>
                        {% for related_post in article.related_posts %}
                            <li><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></li>
                        {% endfor %}
                        </ul>
                </div>
            {% endif %}
        </article>
    </section>

    <section class="article_comments" container>
        {{ disqus_comments_script(article.title|striptags|e) }}
    </section>
{% endblock %}

{% block js_bottom %}
    {{ super() }}
    {{ disqus_misc_scripts }}
{% endblock %}
