@import "./base";
@import "./pygment";

.article_content {
  @include themed() {
    background-color: getColorByTheme("card");
    box-shadow: 2px 2px 4px 0 getColorByTheme("boxShadow");
  }
  margin: 1rem 0.5rem;
  padding: 1rem 0;

  &-body {
    // min-width: 90vw;
    min-height: 85vh;
    padding: 0 2rem;
    overflow-x: auto;
  }

  &-content {
    p,
    h2,
    h3 {
      margin: 1em auto;
    }

    blockquote {
      padding: 0 2em;
      @include themed() {
        border-left: 8px double getColorByTheme("blockquoteBorder");
      }
    }
  }

  &-series {
    border: 1px dashed;
    display: inline-block;
    padding: 1em;
    margin-top: 1.5em;

    &--title {
      font-style: italic;
    }

    &--name {
      font-weight: 700;
    }

    &--parts {
      margin-left: 1rem;

      li {
        line-height: 2;
      }
    }
  }

  &-related_post {
    margin-top: 1.5em;

    &--title {
      text-transform: uppercase;
      margin: 0.7em 0;
      @include themed() {
        color: getColorByTheme("text");
      }
      display: inline-block;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        display: inline-block;
        width: 20%;
        @include themed() {
          border-bottom: getColorByTheme("border") solid 2px;
        }
      }
    }

    ul {
      margin-left: 0.5em;

      li {
        list-style-type: square;
      }
    }
  }

  img {
    max-width: 100%;
    width: auto;
  }
}

.article_cover {
  text-align: center;
  margin-top: 2em;

  &__credit {
    font-style: italic;
    font-size: 0.7em;
  }
}

.footnote ol li p {
  display: inline;
}

.highlighttable td {
  line-height: 2em;
}

.justtable {
  thead tr {
    @include themed() {
      background-color: getColorByTheme("tableHeaderBg");
      color: getColorByTheme("tableHeaderColor");
    }
  }

  tr:nth-child(even) {
    @include themed() {
      background-color: getColorByTheme("tableHeaderBgInverted");
    }
  }
}

.article_content-content table:not(.highlighttable *) code {
  @include themed() {
    color: getColorByTheme("code") !important;
    background: transparent !important;
  }
}
